@model Domain.Entities.LoginReq
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Log In | SMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <script src="~/js/hyper-config.js"></script>
    <link href="~/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="authentication-bg pb-0">
    <div class="auth-fluid">
        <div class="auth-fluid-form-box">
            <div class="card-body d-flex flex-column h-100 gap-3">
                <div class="auth-brand text-center text-lg-start">
                    <a href="index.html" class="logo-dark">
                        <span><img src="~/images/logo-dark.png" alt="dark logo" height="22"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="~/images/logo.png" alt="logo" height="22"></span>
                    </a>
                </div>
                <div class="my-auto">
                    <h4 class="mt-0">Sign In</h4>
                    <p class="text-muted mb-4">Enter your email address and password to access account.</p>
                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email address</label>
                            <input class="form-control" type="email" asp-for="Email" required="" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <a href="pages-recoverpw-2.html" class="text-muted float-end"><small>Forgot your password?</small></a>
                            <label asp-for="Password" class="form-label">Password</label>
                            <input class="form-control" type="password" required="" asp-for="Password" placeholder="Enter your password">
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                                <label class="form-check-label" for="checkbox-signin">Remember me</label>
                            </div>
                        </div>
                        <div class="d-grid mb-0 text-center">
                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Log In </button>
                        </div>
                        <!-- social-->
                        <div class="text-center mt-4">
                            <p class="text-muted font-16">Sign in with</p>
                            <ul class="social-list list-inline mt-3">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <footer class="footer footer-alt">
                    <p class="text-muted">Don't have an account? <a href="/Account/Signup" class="text-muted ms-1"><b>Sign Up</b></a></p>
                </footer>

            </div>
        </div>
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">"Empowering Education Through Seamless Management"</h2>
                <p class="lead">
                    <i class="mdi mdi-format-quote-open"></i>  Welcome to SMS Digital Hub. <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                </p>
            </div> 
        </div>
    </div>
    <script src="~/js/vendor.min.js"></script>s
    <script src="~/js/app.min.js"></script>
</body>
</html>
