@model Domain.Entities.ProductVarientVM
@{
    var varientlist = new SelectList(Model.varients, "VarientId", "VarientType");
}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #313a46">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color: white">ADD VARIENT</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="hidden" asp-for="ProductId" />
                        <label asp-for="VarientTypeId">Varient :</label>
                        <select asp-for="VarientTypeId" asp-items="@varientlist" class="form-control" required>
                            <option value="0">Select Varient Type</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Quantity">Quantity:</label>
                        <input class="form-control" type="number" placeholder="Enter Quantiy" asp-for="Quantity" required>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label asp-for="ProductName">ProductName:</label>
                        <input class="form-control" type="text" placeholder="Enter Total Quantity" asp-for="ProductName" required>
                       
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="TotalQuantity">TotalQuantity:</label>
                        <input class="form-control" type="number" placeholder="Enter Total Quantity" asp-for="TotalQuantity" required>
                        <label asp-for="Discount">Discount:</label>
                        <input class="form-control" type="number" placeholder="Enter Discount" asp-for="Discount" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="ImageUrl">Choose Images</label>
                        <input asp-for="ImageUrl" type="file" class="form-control" name="images[]" multiple id="ImageUrl" required />
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" class="form-control" type="text" placeholder="Enter Description of Product" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveVarient()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var imgUpload = document.getElementById('ImageUrl'),
        imgPreview = document.getElementById('img-preview'),
        totalFiles,
        img;

    imgUpload.addEventListener('change', previewImgs, true);

    function previewImgs(event) {
        totalFiles = imgUpload.files.length;

        if (!!totalFiles) {
            imgPreview.classList.remove('img-thumbs-hidden');
        }

        for (var i = 0; i < totalFiles; i++) {
            wrapper = document.createElement('div');
            wrapper.classList.add('wrapper-thumb');
            removeBtn = document.createElement("span");
            nodeRemove = document.createTextNode('x');
            removeBtn.classList.add('remove-btn');
            removeBtn.appendChild(nodeRemove);
            img = document.createElement('img');
            img.src = URL.createObjectURL(event.target.files[i]);
            img.classList.add('img-preview-thumb');
            wrapper.appendChild(img);
            wrapper.appendChild(removeBtn);
            imgPreview.appendChild(wrapper);

            $('.remove-btn').click(function () {
                $(this).parent('.wrapper-thumb').remove();
            });

        }

    }


</script>