@using Domain.Entities
@model ProductVarientRes
@{
    var units = new SelectList(Model.masterUnits, "UnitId", "UnitType");
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                            <li class="breadcrumb-item active">Product Varient</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Product Varient</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/Products" class="btn btn-success mb-2 me-1">
                            <i class="ri-arrow-left-line"></i>
                            Back To List
                        </a>
                        <ul class="nav nav-tabs nav-bordered mb-3">
                        </ul>
                        <div class="row">
                            <div class="col-4">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="hidden" asp-for="VarientId" />
                                <label name="ProductName">Product Name :</label>
                                <input class="form-control" type="text" placeholder="Enter Name" asp-for="ProductName" required>
                            </div>
                            <div class="col-4">
                                <label asp-for="MRP">MRP:</label>
                                <input asp-for="MRP" class="form-control" type="number" placeholder="Enter MRP of Product" required>
                            </div>
                            <div class="col-4">
                                <label asp-for="SubCategoryId">Category:</label>
                                <select asp-for="SubCategoryId" class="form-control" disabled>
                                    <option value="@Model.SubCategoryId">@Model.SubCategoryName</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                                <label asp-for="Discount">Discount in Percentage (%) :</label>
                                <input class="form-control" type="number" placeholder="Enter Discount in Percentage" asp-for="Discount" maxlength="3" max="100" required>
                                <span id="error-message" style="color:red; display:none;">Value cannot be greater than 100</span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Description">Description:</label>
                                <input asp-for="Description" class="form-control" type="text" placeholder="Enter Description of Product" required>
                            </div>
                            <div class="col-4">
                                <label asp-for="ImageUrl">Choose Images</label>
                                <input asp-for="ImageUrl" type="file" class="form-control" name="images[]"/>
                                <i class="fa-solid fa-image"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-4">
                                <label asp-for="UnitId">Unit:</label>
                                <select asp-for="UnitId" asp-items="@units" class="form-control" required>
                                    <option value="0">::Select a UnitType::</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label asp-for="Quantity">Quantity:</label>
                                <input asp-for="Quantity" class="form-control" type="number" placeholder="Enter Quantity of Product" required>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: end;">
                            <button onclick="saveVarient()" type="button" class="btn btn-success mb-2 me-1" style="margin-top: 2rem;">
                                Save Product
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var saveVarient = () => {
        if (!valiadteInputs()) {
            return false;
        }
        var obj = {
            VarientId : $("#VarientId").val(),
            ProductId: $("#ProductId").val(),
            ProductName: $("#ProductName").val(),
            Description: $("#Description").val(),
            SubCategoryId: $("#SubCategoryId").val(),
            MRP: $("#MRP").val(),
            UnitId: $("#UnitId").val(),
            Quantity: $("#Quantity").val(),
            Discount: $("#Discount").val()
        }
        var formData = new FormData();
        formData.append("JsonData", JSON.stringify(obj));
        var imageInput = $('#ImageUrl')[0];
        var file = imageInput.files[0];
        formData.append('productvarientImages', file);
        $.ajax({
            url: '/Product/SaveProductVarient',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                QAlert(response.statusCode, response.responseText);
            },
            error: function (error) {
                alert("Error saving product.");
            }
        });
    }   
</script>
