@using Domain.Entities
@using Domain.Enum
@model List<SavedAddress>;
@{
    Layout = "_LayoutSiteAdmin";
}

<div class="container mb-80 mt-50">
    <div class="row">
        <div class="col-lg-8 mb-40">
            <h1 class="heading-2 mb-10">Checkout</h1>
            <div class="d-flex justify-content-between">
                <h6 class="text-body">There are <span class="text-brand cartcount"></span> products in your cart</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="row mb-50">
                <div class="col-lg-6">
                    <div method="post" class="apply-coupon">
                        <input type="text" placeholder="Enter Coupon Code...">
                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="payment ml-30">
                <h4 class="mb-30">Payment</h4>
                <div class="payment_option">
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="paymentCard" value="@PaymentMode.CARD">
                        <label class="form-check-label" for="paymentCard" data-bs-toggle="collapse" data-target="#cardPayment" aria-controls="cardPayment">Card</label>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="paymentUPI" value="@PaymentMode.UPI">
                        <label class="form-check-label" for="paymentUPI" data-bs-toggle="collapse" data-target="#upiPayment" aria-controls="upiPayment">UPI</label>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="paymentCOD" value="@PaymentMode.COD">
                        <label class="form-check-label" for="paymentCOD" data-bs-toggle="collapse" data-target="#codPayment" aria-controls="codPayment">Cash on Delivery</label>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="paymentWallet" value="@PaymentMode.WALLET">
                        <label class="form-check-label" for="paymentWallet" data-bs-toggle="collapse" data-target="#walletPayment" aria-controls="walletPayment">Wallets</label>
                    </div>
                </div>
                <a onclick="SaveOrder()" class="btn btn-fill-out btn-block mt-30">Place an Order<i class="fi-rs-sign-out ml-15"></i></a>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="border p-40 cart-totals ml-30 mb-50">
                <div class="d-flex align-items-end justify-content-between mb-30">
                    <h4>Your Order</h4>
                    <h6 class="text-muted">Subtotal</h6>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="table-responsive order_table checkout">
                    <ul class="list-group cart-dropdown-ul">
                    </ul>
                    <h5 class="modal-title">
                        Billing Details
                    </h5>
                    <p>Subtotal: <span class="total-cart-amount">₹0.00</span></p>
                    <p>Tax (5%): <span class="tax-amount">₹0.00</span></p>
                    <h5>Total: <span class="total-cart-amount">₹0.00</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var SaveOrder = () => {
        debugger;
        let addressId = localStorage.getItem("selectedAddressID");
        let paymentMode = $('input[name="payment_option"]:checked').attr('value');
        let cartData = JSON.parse(localStorage.getItem('cart')) || {
            count: 0,
            total: 0,
            items: {},
        };
        let checkoutDetails = {
            AddressID: addressId,
            cart: cartData,
            paymentMode: paymentMode
        };

        console.log(checkoutDetails);
        console.log(JSON.stringify(checkoutDetails));

        $.post('/Website/PlaceOrder', checkoutDetails).done((result) => {
            console.log(result);
        })
    };

</script>