@using Domain.Entities
@model List<SavedAddress>;
<div class="card">
    <div class="card-body">
        <a class="mt-3" id="addNewAddress"><i class="fi-rs-plus"></i> Add New Address</a>
    </div>
</div>
<div>
    <p>Please choose your delivery address or add a new one.</p>
 
    @if(Model != null)
    {
        @foreach (var addrrss in Model)
        {
            <div class="address-list">
                <div class="address-item bg-light rounded shadow-sm p-3 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img title="HOME"
                                 src="https://cdn.grofers.com/assets/ui/saved_address_type_home.png"
                                 alt="Home Icon"
                                 class="img-fluid rounded"
                                 style="max-width: 50px; max-height: 50px;" />
                        </div>
                        <div>
                            <div class="fw-bold text-dark">Home</div>
                            <div class="text-muted small">
                                1st floor, 878D Vinay Khand 4, Gomti Nagar, Lucknow
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<script>
  
</script>